.title{
    font-family: MuseoModerno;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    /* or 150% */
    text-transform: uppercase;
    color: #FFFFFF;

    &__black{
        color: #000;
    }

}



.title_left{
    text-align: left;
}


